// USER VARIABLES SECTION

$accent: #23364C; // Accent Color
$bgaccent: #F3F7FE; // BG Color
$mainTitleFontsizeM: 19px; // Body Font Size
$secondTitleFontsizeM: 13px; // Body Font Size
$bodyFontsizeM: 11px; // Body Font Size
$mainTitleFontsizeD: 48px; // Body Font Size
$secondTitleFontsizeD: 25px; // Body Font Size
$bodyFontsizeD: 16px; // Body Font Size
$textColor: #333; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$roboto: OpenSans, sans-serif; // Roboto Font Family
$mainwrapperwith: 924px; // With of main centering wrapper

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('OpenSans', normal, 400, '../fonts/opensans-regular-webfont.woff2');
@include font('OpenSans', normal, 300, '../fonts/opensans-light-webfont.woff2');
@include font('OpenSans', normal, 600, '../fonts/opensans-semibold-webfont.woff2');
@include font('OpenSans', normal, 700, '../fonts/opensans-bold-webfont.woff2');

// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

body {
	font-family: $roboto;
	font-size: $bodyFontsizeM;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: $textColor;
}

@media screen and (min-width: 900px) {
	body {
		font-size: $bodyFontsizeD;
	}
}
