@import 'config';
.main-wrapper {
	position: relative;
	padding: 0 15px;
	max-width: $mainwrapperwith;
	margin: 0 auto;
	height: 100%;
}

.border {
	border: 2px solid black;
}

.right-line {
	position: absolute;
	display: block;
	width: 65px;
	height: 100%;
	right: 0;
	top: 0;
	background-color: $accent;
	text-align: center;
	z-index: 100;
}

.header-block__scroll-icon {
	position: absolute;
	bottom: 110px;
	left: 13px;
	z-index: 101;
}

.header-block__right-line {
	z-index: 111;
	background-color: transparent;
}

#stars {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background: $accent;
}

.header-block {
	position: relative;
	background-color: $bgaccent;
	height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
	&__top-line {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__logo {
		margin-top: 15px;
		width: 80px;
	}
	&__menu-icon {
		margin-top: 15px;
		width: 30px;
		cursor: pointer;
	}
	&__title-block {
		display: inline-block;
		margin: 200px auto;
		width: 80%;
		z-index: 0;
	}
	&__main-title {
		font-size: $mainTitleFontsizeM;
		line-height: 22px;
		font-weight: 700;
		color: #FFFFFF;
	}
	&__subscribe-title {
		font-size: 10px;
		font-weight: 400;
		margin-top: 27px;
		color: #FFFFFF;
	}
	&__callback-block {
		position: absolute;
		width: 100%;
		bottom: 0;
		background-color: #FFFFFF;
		z-index: 101;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	&__callback-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		max-width: 700px;
		margin: 0 auto;
		height: 100%;
		line-height: 100px;
		padding: 0 15px;
	}
	&__callback-title {
		display: none;
		font-weight: 600;
	}
	&__callback-button {
		display: inline-block;
		text-align: center;
		line-height: 60px;
		margin: auto;
		height: 60px;
		width: 180px;
		border-radius: 10px;
		background-color: #B99F73;
		& a {
			font-size: $secondTitleFontsizeM;
			font-weight: 600;
			color: #FFFFFF;
			text-decoration: none;
		}
	}
}

#mouse, #mouse2, #mouse3, #mouse4{
	margin-top: 5em;
	margin-left:auto;
	margin-right:auto;
	width:3em;
	height:6em;
	background-color:rgba(255,255,255,0);
	border-radius: 100px;
	border:2px solid white;
}
#mouse2, #mouse4 {
	margin: 0 auto 0;
	background-color: rgba(0, 35, 102, 0);
	border:2px solid $accent;
}
#wheel, #wheel2, #wheel3, #wheel4{
	margin-top:1em;
	margin-left:auto;
	margin-right:auto;
	width:0.75em;
	height:0.75em;
	background-color:white;
	border-radius: 50%;
}

#wheel2, #wheel4 {
	background-color: $accent;
}

.scroll2, .scroll2_2, .scroll2_4{
	opacity:0;
	margin-left:auto;
	margin-right:auto;
	width:0px;
	height:0px;
	border-left: 0.35em solid transparent;
	border-right: 0.35em solid transparent;
	border-top: 0.4em solid white;
	-webkit-animation: down2 1s infinite;
	animation: down2 1s infinite;
}
.scroll2_2, .scroll2_4 {
	border-top: 0.4em solid $accent;
}
.scroll3, .scroll3_2, .scroll3_4{
	opacity:0;
	margin-left:auto;
	margin-right:auto;
	width:0px;
	height:0px;
	border-left: 0.35em solid transparent;
	border-right: 0.35em solid transparent;
	border-top: 0.4em solid white;
	-webkit-animation: down 1s infinite;
	animation: down 1s infinite;
}
.scroll3_2, .scroll3_4 {
	border-top: 0.4em solid $accent;
}
.scroll, .scroll_2, .scroll_4{
	opacity:0;
	margin-left:auto;
	margin-right:auto;
	width:0px;
	height:0px;
	border-left: 0.35em solid transparent;
	border-right: 0.35em solid transparent;
	border-top: 0.4em solid white;
	-webkit-animation: down3 1s infinite;
	animation: down3 1s infinite;
}
.scroll_2, .scroll_4{
	border-top: 0.4em solid $accent;
}
@-webkit-keyframes down{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
		transform: translateY(2.3em);
	}
}
@-webkit-keyframes down2{
	40%{
		opacity:0;
	}
	100%{
		opacity:0.5;
		transform: translateY(2.3em);
	}
}
@-webkit-keyframes down3{
	60%{
		opacity:0;
	}
	100%{
		opacity:0.2;
		transform: translateY(2.3em);
	}
}
@keyframes down{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
		transform: translateY(2.3em);
	}
}
@keyframes down2{
	40%{
		opacity:0;
	}
	100%{
		opacity:0.5;
		transform: translateY(2.3em);
	}
}
@keyframes down3{
	60%{
		opacity:0;
	}
	100%{
		opacity:0.2;
		transform: translateY(2.3em);
	}
}
#text, #text2, #text3, #text4{
	font-size:1em;
	text-align:center;
	margin-top:0.5em;
	color:white;
}

#text2, #text4 {
	color: $accent
}

.callback-block-desktop {
	display: none;
	height: 15vh;
	&__wrapper {
		display: flex;
		padding-top: 40px;
		flex-direction: row;
		justify-content: space-around;
	}
	&__title {
		display: flex;
		flex-direction: column;
		height: 70px;
		justify-content: center;
		font-size: 18px;
		font-weight: 600;
	}
	&__button {
		width: 200px;
		height: 70px;
		line-height: 70px;
		text-align: center;
		text-decoration: none;
		background-color: #B99F73;
		border-radius: 10px;
	}
	&__button a {
		color: #FFFFFF;
		font-weight: 600;
	}
}

.scroll-block-desktop {
	display: none;
	margin-top: 15px;
	z-index: 10000;
	height: 100%;
	background-color: $bgaccent;
}

.scroll-services-block-desktop {
	display: none;
	margin-bottom: 0;
	z-index: -10;
}

.services-block {
	height: 100vh;
	background-color: $bgaccent;
	&__title {
		display: inline-block;
		margin-top: 50px;
		font-size: $mainTitleFontsizeM;
		font-weight: 700;
	}
	&__column-area {
		width: 87%;
		margin: auto;
		display: flex;
		z-index: 11;
		flex-direction: column;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 97%;
		height: 30vh;
		background-color: #FFFFFF;
		transition: .7s;
		z-index: 11111;
		margin-bottom: 20px;
		padding: 10px;
		opacity: .95;
		&__title {
			font-size: $secondTitleFontsizeM;
			font-weight: 600;
		}
		& ul {
			margin-top: 10px;
			padding-left: 15px;
			& li {
				list-style-type: none; /* Убираем маркеры у списка */
			}
			& li:before {
				content: "— "; /* Добавляем в качестве маркера символ */
			}
		}
	}
	&__item:hover {
		box-shadow:-2px 3px 4px 1px rgba(0,0,0,0.27);
		-webkit-box-shadow:-2px 3px 4px 1px rgba(0,0,0,0.27);
		-moz-box-shadow:-2px 3px 4px 1px rgba(0,0,0,0.27);
	}
	&__item--1 {
		margin-top: 40px;
		z-index: 1000;
	}
	&__right-line {
		margin-top: -1px;
		height: calc(100% + 1px);
		z-index: 0;
	}
}

div.owl-carousel-services-m-wrapper {
	display: block;
}

div.owl-carousel-services-d-wrapper {
	display: none;
}

.services-block__scroll-icon {
	position: absolute;
	bottom: 10px;
	left: 13px;
}

.team-block {
	margin-top: 10px;
	background-color: #FFFFFF;
	&__title {
		font-size: $mainTitleFontsizeM;
		font-weight: 700;
	}
}

.personal-block {
	display: flex;
	flex-direction: row;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	background-color: $accent;
	padding-left: 10px;
	padding-right: 10px;
	&__personal-data {
		display: flex;
		flex-direction: column;
		width: 60%;
		color: #FFFFFF;
	}
	&__name {
		font-size: 18px;
		font-weight: 600;
	}
	&__personal-position {
		font-size: 14px;
		line-height: 16px;
	}
	&__range {
		display: none;
		margin-top: 5px;
	}
	&__range-title {
		font-size: 16px;
	}
	&__competencies {
		display: none;
		margin-top: 11px;
		& ul {
			padding-left: 5px;
		}
		& ul li {
			font-size: 10px;
			list-style-type: none;
		}
		& ul li:before {
			content: "— ";
		}
	}
	&__competencies-title {
		font-size: 16px;
	}
	&__excerption-block {
		margin-top: 17px;
	}
	&__excerption-author {
		display: inline;
		white-space: nowrap;
		font-weight: 600;
	}
	&__excerption-text {
		padding-left: 4px;
		padding-right: 4px;
		& p {
			font-size: 11px;
			line-height: 15px;
		}
	}
	&__portrait {
		width: 40%;
	}
	&__button {
		margin: auto auto 5px;
		width:110px;
		height: 40px;
		line-height: 40px;
		background-color: #B99F73;
		border-radius: 5px;
		text-align: center;

		& a {
			color: #FFFFFF;
			font-weight: 600;
			font-size: 12px;
		}
	}
}
.owl-dots {
	display: none;
}
.owl-nav {
	position: absolute;
	top: 40%;
	font-size: 37px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	span {
		color: $accent
	}
	& button:first-child {
		margin-left: -10px;

	}
	& button:last-child {
		margin-right: -10px;
	}
}

.owl-carousel-services-m .owl-nav {
	& button:last-child {
		& span {
			color: $bgaccent
		}
	}
}

.contacts {
	padding-top: 31px;
	padding-bottom: 31px;
	min-height: 30vh;
	background-color: $accent;
	&__title {
		color: #FFFFFF;
		font-size: $mainTitleFontsizeM;
		margin-bottom: 20px;
	}
	&__items {
		color: #FFFFFF;
		margin-bottom: 9px;
	}
}

.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 11111; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
	cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

@media screen and (min-width: 992px) {
	.right-line {
		width: 151px;
		right: 30px;
		z-index: 0;
	}
	.header-block {
		&__logo {
			margin-top: 30px;
			width: 150px;
		}
		&__menu-icon {
			margin-top: 30px;
			width: 50px;
		}
	}
	.header-block__right-line {
		z-index: 111;
		background-color: transparent;
	}
	.header-block__scroll-icon {
		display: none;
	}
	.services-block__scroll-icon {
		display: none;
	}
	.scroll-services-block-desktop {
		display: block;
	}
	.scroll-block-desktop {
		display: block;
	}

	.header-block{
		height: 100vh;
		&__title-block {
			margin: 130px auto;
			width: 85%;
		}
		&__main-title {
			font-size: $mainTitleFontsizeD;
			line-height: 61px;
		}
		&__subscribe-title {
			font-size: $secondTitleFontsizeD;
			margin-top: 41px;
			line-height: 34px;
			font-weight: 400;
		}
		&__callback-block {
			display: inline-block;
			z-index: 1111;
		}
		&__callback-title {
			display: inline-block;
		}
	}
	.callback-block-desktop {
		display: block;
	}

	.services-block {
		&__title {
			font-size: $mainTitleFontsizeD;
		}
		&__item{
			&__title {
				font-size: $secondTitleFontsizeD;
			}
		}
	}

	.team-block {
		&__title {
			display: inline-block;
			font-size: $mainTitleFontsizeD;
			font-weight: 700;
			margin-top: 37px;
		}
	}

	.personal-block {
		padding-top: 15px;
		&__personal-data {
		}
		&__name {
			font-size: 31px;
			font-weight: 600;
		}
		&__personal-position {
			font-size: 18px;
			line-height: 21px;
		}
		&__range {
			display: inline-block;
			margin-top: 15px;
		}
		&__range-title {
			font-size: 25px;
		}
		&__competencies {
			display: inline-block;
			margin-top: 17px;
			& ul {
				padding-left: 11px;
			}
			& ul li{
				font-size: 14px;
				list-style-type: none;
			}
			& ul li:before{
				content: "— ";
			}
		}
		&__competencies-title {
			font-size: 25px;
		}
		&__excerption-block {
			display: inline-block;
			margin-top: 10px;
		}
		&__excerption-author {
			display: inline-block;
			white-space: nowrap;
			font-weight: 600;
			font-size: 18px;
		}
		&__excerption-text {
			padding-left: 9px;
			padding-right: 9px;
			padding-top: 4px;
			& p {
				font-size: 25px;
				line-height: 30px;
			}
		}
		&__portrait {
			width: 40%
		}
		&__button {
			width: 170px;
			height: 60px;
			line-height: 60px;
			background-color: #B99F73;
			border-radius: 7px;
			& a {
				color: #FFFFFF;
				font-weight: 600;
				font-size: 18px;
			}
		}
	}
	.ow.owl-nav {
		font-size: 47px;
		& button:first-child {
			margin-left: -15px;
		}
		& button:last-child {
			margin-right: -15px;
		}
	}


	.contacts {
		padding-top: 47px;
		min-height: 30vh;
		background-color: $accent;
		&__title {
			color: #FFFFFF;
			font-size: $mainTitleFontsizeD;
			margin-bottom: 20px;
		}
		&__items {
			color: #FFFFFF;
			margin-bottom: 13px;
		}
	}

	div.owl-carousel-services-m-wrapper {
		display: none;
	}

	div.owl-carousel-services-d-wrapper {
		display: block;
	}
}

